/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* ---------- FONTS ------------ */
@font-face { font-family: 'CorpoARegular'; src: url("../fonts/c062003t-webfont.eot"); src: url("../fonts/c062003t-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/c062003t-webfont.woff") format("woff"), url("../fonts/c062003t-webfont.ttf") format("truetype"), url("../fonts/c062003t-webfont.svg#CorpoARegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'CorpoACond'; src: url("../fonts/corporateacon-reg-webfont.eot"); src: url("../fonts/corporateacon-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/corporateacon-reg-webfont.woff") format("woff"), url("../fonts/corporateacon-reg-webfont.ttf") format("truetype"), url("../fonts/corporateacon-reg-webfont.svg#CorpoARegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'corposregular'; src: url("../fonts/c063003t-webfont.eot"); src: url("../fonts/c063003t-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/c063003t-webfont.woff") format("woff"), url("../fonts/c063003t-webfont.ttf") format("truetype"), url("../fonts/c063003t-webfont.svg#corposregular") format("svg"); font-weight: normal; font-style: normal; }
/* line 45, ../sass/base.scss */
.errorMessage, #form-page-container #page-main-title, #form-page-container #form-page-content #main-content #select-models .asterisk-info, #form-page-container #form-page-content #main-content #select-models .model-selected .request-model, #form-page-container #form-page-content #main-content #select-models .model-selected .request-option, #form-page-container #form-page-content #main-content #select-models .add-model-action #add-model-btn a, #form-page-container #form-page-content #main-content #select-models .add-model-action #close-choose-btn a, #form-page-container #form-page-content #main-content #select-models #change-type #change-type-container a, #form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car, #form-page-container #form-page-content #main-content #form-fields, #form-page-container #form-page-content #main-content #legal-notice, #form-page-container #form-page-content #main-content #submit-form #submit-form-btn, .mfs-options li a, a.mfs-selected-option, #thank-you-block h3, #thank-you-block .thank-you-message, #thank-you-block #links-area .cta-link, #thank-you-block #social-sharing #social-sharing-actions, .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #the-question, .winter-tyres-form#form-page-container #form-page-content #main-content #submit-form #t-and-c-link { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; font-weight: 400px; font-weight: normal; text-rendering: optimizeLegibility; }

/* ========================================================================== Helper classes ========================================================================== */
/* line 61, ../sass/base.scss */
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Prevent callout */
/* line 72, ../sass/base.scss */
.nocallout { -webkit-touch-callout: none; }

/* line 76, ../sass/base.scss */
.pressed { background-color: rgba(0, 0, 0, 0.7); }

/* A hack for HTML5 contenteditable attribute on mobile */
/* line 82, ../sass/base.scss */
textarea[contenteditable] { -webkit-appearance: none; }

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
/* line 89, ../sass/base.scss */
.gifhidden { position: absolute; left: -100%; }

/* Image replacement */
/* line 98, ../sass/base.scss */
.ir { background-color: transparent; background-repeat: no-repeat; border: 0; direction: ltr; display: block; overflow: hidden; text-align: left; text-indent: -999em; }

/* line 109, ../sass/base.scss */
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 117, ../sass/base.scss */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 126, ../sass/base.scss */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 142, ../sass/base.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
/* line 156, ../sass/base.scss */
.invisible { visibility: hidden; }

/** Clearfix helper Used to contain floats: h5bp.com/q */
/* line 165, ../sass/base.scss */
.clearfix:before, .clearfix:after { content: ""; display: table; }

/* line 171, ../sass/base.scss */
.clearfix:after { clear: both; }

/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
/* line 180, ../sass/base.scss */
.clearfix { *zoom: 1; }

/* ===== SASS ===== */
/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/
/* Containers
----------------------------------------------------------------------------------------------------*/
/* line 12, ../sass/fluid-grid.scss */
.container_12 { width: 92%; max-width: 960px; margin: 0 auto; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 21, ../sass/fluid-grid.scss */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { display: inline; float: left; position: relative; margin-left: 1%; margin-right: 1%; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 43, ../sass/fluid-grid.scss */
.alpha { margin-left: 0; }

/* line 47, ../sass/fluid-grid.scss */
.omega { margin-right: 0; }

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 55, ../sass/fluid-grid.scss */
.container_12 .grid_1 { width: 6.333%; }

/* line 59, ../sass/fluid-grid.scss */
.container_12 .grid_2 { width: 14.667%; }

/* line 63, ../sass/fluid-grid.scss */
.container_12 .grid_3 { width: 23.0%; }

/* line 67, ../sass/fluid-grid.scss */
.container_12 .grid_4 { width: 31.333%; }

/* line 71, ../sass/fluid-grid.scss */
.container_12 .grid_5 { width: 39.667%; }

/* line 75, ../sass/fluid-grid.scss */
.container_12 .grid_6 { width: 48.0%; }

/* line 79, ../sass/fluid-grid.scss */
.container_12 .grid_7 { width: 56.333%; }

/* line 83, ../sass/fluid-grid.scss */
.container_12 .grid_8 { width: 64.667%; }

/* line 87, ../sass/fluid-grid.scss */
.container_12 .grid_9 { width: 73.0%; }

/* line 91, ../sass/fluid-grid.scss */
.container_12 .grid_10 { width: 81.333%; }

/* line 95, ../sass/fluid-grid.scss */
.container_12 .grid_11 { width: 89.667%; }

/* line 99, ../sass/fluid-grid.scss */
.container_12 .grid_12 { width: 98.0%; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 109, ../sass/fluid-grid.scss */
.container_12 .prefix_1 { padding-left: 8.333%; }

/* line 113, ../sass/fluid-grid.scss */
.container_12 .prefix_2 { padding-left: 16.667%; }

/* line 117, ../sass/fluid-grid.scss */
.container_12 .prefix_3 { padding-left: 25.0%; }

/* line 121, ../sass/fluid-grid.scss */
.container_12 .prefix_4 { padding-left: 33.333%; }

/* line 125, ../sass/fluid-grid.scss */
.container_12 .prefix_5 { padding-left: 41.667%; }

/* line 129, ../sass/fluid-grid.scss */
.container_12 .prefix_6 { padding-left: 50.0%; }

/* line 133, ../sass/fluid-grid.scss */
.container_12 .prefix_7 { padding-left: 58.333%; }

/* line 137, ../sass/fluid-grid.scss */
.container_12 .prefix_8 { padding-left: 66.667%; }

/* line 141, ../sass/fluid-grid.scss */
.container_12 .prefix_9 { padding-left: 75.0%; }

/* line 145, ../sass/fluid-grid.scss */
.container_12 .prefix_10 { padding-left: 83.333%; }

/* line 149, ../sass/fluid-grid.scss */
.container_12 .prefix_11 { padding-left: 91.667%; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 159, ../sass/fluid-grid.scss */
.container_12 .suffix_1 { padding-right: 8.333%; }

/* line 163, ../sass/fluid-grid.scss */
.container_12 .suffix_2 { padding-right: 16.667%; }

/* line 167, ../sass/fluid-grid.scss */
.container_12 .suffix_3 { padding-right: 25.0%; }

/* line 171, ../sass/fluid-grid.scss */
.container_12 .suffix_4 { padding-right: 33.333%; }

/* line 175, ../sass/fluid-grid.scss */
.container_12 .suffix_5 { padding-right: 41.667%; }

/* line 179, ../sass/fluid-grid.scss */
.container_12 .suffix_6 { padding-right: 50.0%; }

/* line 183, ../sass/fluid-grid.scss */
.container_12 .suffix_7 { padding-right: 58.333%; }

/* line 187, ../sass/fluid-grid.scss */
.container_12 .suffix_8 { padding-right: 66.667%; }

/* line 191, ../sass/fluid-grid.scss */
.container_12 .suffix_9 { padding-right: 75.0%; }

/* line 195, ../sass/fluid-grid.scss */
.container_12 .suffix_10 { padding-right: 83.333%; }

/* line 199, ../sass/fluid-grid.scss */
.container_12 .suffix_11 { padding-right: 91.667%; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 209, ../sass/fluid-grid.scss */
.container_12 .push_1 { left: 8.333%; }

/* line 213, ../sass/fluid-grid.scss */
.container_12 .push_2 { left: 16.667%; }

/* line 217, ../sass/fluid-grid.scss */
.container_12 .push_3 { left: 25.0%; }

/* line 221, ../sass/fluid-grid.scss */
.container_12 .push_4 { left: 33.333%; }

/* line 225, ../sass/fluid-grid.scss */
.container_12 .push_5 { left: 41.667%; }

/* line 229, ../sass/fluid-grid.scss */
.container_12 .push_6 { left: 50.0%; }

/* line 233, ../sass/fluid-grid.scss */
.container_12 .push_7 { left: 58.333%; }

/* line 237, ../sass/fluid-grid.scss */
.container_12 .push_8 { left: 66.667%; }

/* line 241, ../sass/fluid-grid.scss */
.container_12 .push_9 { left: 75.0%; }

/* line 245, ../sass/fluid-grid.scss */
.container_12 .push_10 { left: 83.333%; }

/* line 249, ../sass/fluid-grid.scss */
.container_12 .push_11 { left: 91.667%; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 259, ../sass/fluid-grid.scss */
.container_12 .pull_1 { left: -8.333%; }

/* line 263, ../sass/fluid-grid.scss */
.container_12 .pull_2 { left: -16.667%; }

/* line 267, ../sass/fluid-grid.scss */
.container_12 .pull_3 { left: -25.0%; }

/* line 271, ../sass/fluid-grid.scss */
.container_12 .pull_4 { left: -33.333%; }

/* line 275, ../sass/fluid-grid.scss */
.container_12 .pull_5 { left: -41.667%; }

/* line 279, ../sass/fluid-grid.scss */
.container_12 .pull_6 { left: -50.0%; }

/* line 283, ../sass/fluid-grid.scss */
.container_12 .pull_7 { left: -58.333%; }

/* line 287, ../sass/fluid-grid.scss */
.container_12 .pull_8 { left: -66.667%; }

/* line 291, ../sass/fluid-grid.scss */
.container_12 .pull_9 { left: -75.0%; }

/* line 295, ../sass/fluid-grid.scss */
.container_12 .pull_10 { left: -83.333%; }

/* line 299, ../sass/fluid-grid.scss */
.container_12 .pull_11 { left: -91.667%; }

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 311, ../sass/fluid-grid.scss */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
/* line 322, ../sass/fluid-grid.scss */
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

/* line 333, ../sass/fluid-grid.scss */
.clearfix { display: inline-block; }

/* line 337, ../sass/fluid-grid.scss */
* html .clearfix { height: 1%; }

/* line 341, ../sass/fluid-grid.scss */
.clearfix { display: block; }

/* HTML5 Boilerplate  What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
/* Remove text-shadow in selection highlight: h5bp.com/i These selection rule sets have to be separate. Customize the background color to match your design. */
/* line 27, ../sass/main.scss */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

/* line 32, ../sass/main.scss */
::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule */
/* line 41, ../sass/main.scss */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
/* line 54, ../sass/main.scss */
img { vertical-align: middle; }

/* Remove default fieldset styles. */
/* line 62, ../sass/main.scss */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
/* line 72, ../sass/main.scss */
textarea { resize: vertical; }

/* line 76, ../sass/main.scss */
html { height: 100%; }

/* line 80, ../sass/main.scss */
body { font-size: 1em; line-height: 1.4; background: #000; height: 100%; color: #999999; }

/* line 88, ../sass/main.scss */
a { text-decoration: none; }

/* ========================================================================== Author's custom styles ========================================================================== */
/*components*/
/* line 97, ../sass/main.scss */
#form-page-container #form-page-header figure img, #thank-you-block #links-area .cta-link a img { width: 100%; height: auto; }

/* line 102, ../sass/main.scss */
.error input { border: 1px solid #DD3C10 !important; }

/* line 106, ../sass/main.scss */
.errorMessage { color: #DD3C10; display: block; float: left; font-size: 14px; width: 31.333%; margin-left: 33.333%; font-family: corposregular; }
/* line 115, ../sass/main.scss */
.errorMessage.custom-error, .errorMessage#Form_postcode_em_ { margin-left: 0 !important; width: 100% !important; }

/* line 121, ../sass/main.scss */
.disabled-selection { opacity: 0.5; filter: alpha(opacity=50); /* For IE8 and earlier */ cursor: default; }

/* line 127, ../sass/main.scss */
.preloader { font-size: 18px; color: #fff; }

/* line 132, ../sass/main.scss */
.mandatory-field-label { color: #00ADEF; }

/*layout*/
/* line 138, ../sass/main.scss */
#form-page-container { background: #141414; height: auto !important; margin: 0 auto -1px; min-height: 100%; width: 100%; }
/* line 145, ../sass/main.scss */
#form-page-container #form-page-header { background: #000; }
/* line 148, ../sass/main.scss */
#form-page-container #form-page-header #header-bar { background: #000; }
/* line 151, ../sass/main.scss */
#form-page-container #form-page-header #header-bar #js-error-msg { background: #999; height: 100px; width: 100%; display: table; }
/* line 156, ../sass/main.scss */
#form-page-container #form-page-header #header-bar #js-error-msg p { display: table-cell; vertical-align: middle; width: 100%; height: 100%; color: #000; text-align: center; font-family: Arial, Helvetica, Sans-serif; }
/* line 167, ../sass/main.scss */
#form-page-container #form-page-header #header-bar h1 { height: 78px; background: url(../images/mb-logo.jpg) no-repeat; }
/* line 173, ../sass/main.scss */
#form-page-container #form-page-header figure { background: #161515; padding-bottom: 16px; }
/* line 182, ../sass/main.scss */
#form-page-container #page-main-title { color: #fff; padding-bottom: 15px; font-family: CorpoACond; font-size: 25px; }
/* line 190, ../sass/main.scss */
#form-page-container #form-page-content { position: relative; padding-bottom: 30px; }
/* line 195, ../sass/main.scss */
#form-page-container #form-page-content #main-content { border: 1px solid #1b1b1b; border-bottom: none; background: #161616; padding-top: 15px; /*manual address block*/ /*legal info*/ /*submit form button*/ }
/* line 203, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .asterisk-info { color: #666666; text-align: right; font-size: 14px; font-family: corposregular; }
/* line 211, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected { color: #fff; height: 70px; border-top: 1px solid #343434; display: table; float: none; }
/* line 219, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected:first-child { border: none; }
/* line 223, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected > * { height: 100%; display: table-cell; vertical-align: middle; float: none; }
/* line 230, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .request-model { font-size: 30px; font-family: CorpoACond; }
/* line 236, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .request-option { padding-left: 40px; font-size: 16px; font-family: corposregular; }
/* line 242, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .request-option input { height: 20px; margin-left: 5px; padding-top: 3px; position: relative; top: 4px; width: 20px; }
/* line 251, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .request-option.request-brochure-option { background: url(../images/brochure-icon.png) left center no-repeat; }
/* line 255, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .request-option.request-test-option { background: url(../images/test-drive-icon.png) left center no-repeat; }
/* line 259, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .remove-model { text-align: right; margin-left: 2%; }
/* line 262, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .model-selected .remove-model a { display: inline-block; position: relative; top: 3px; width: 16px; height: 16px; background: url(../images/buttons-icons.png) 0 -25px transparent no-repeat; }
/* line 273, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .add-model-action { border-top: 1px solid #666666; height: 50px; display: table; }
/* line 278, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .add-model-action#close-chooser { width: 100%; border-bottom: 1px solid #666666; }
/* line 283, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .add-model-action > * { height: 100%; width: 33%; display: table-cell; vertical-align: middle; float: none; }
/* line 291, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .add-model-action #add-model-btn a, #form-page-container #form-page-content #main-content #select-models .add-model-action #close-choose-btn a { color: #fff; font-size: 18px; display: inline-block; position: relative; font-family: corposregular; }
/* line 300, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .add-model-action #add-model-btn a { color: #078FC8; padding-right: 25px; padding-bottom: 3px; background: url(../images/buttons-icons.png) right 3px transparent no-repeat; }
/* line 307, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .add-model-action #close-choose-btn a { padding-right: 25px; background: url(../images/buttons-icons.png) right -19px transparent no-repeat; }
/* line 316, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models #change-type #change-type-container { float: right; position: relative; }
/* line 319, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models #change-type #change-type-container #select-btn-decoration { top: 0; display: block; position: absolute; height: 2px; background: #078FC8; }
/* line 327, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models #change-type #change-type-container a { color: #999999; display: inline-block; float: left; padding: 0 10px; margin: 10px 0; text-align: center; font-size: 14px; font-family: corposregular; }
/* line 338, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models #change-type #change-type-container a:first-child { border-right: 1px solid #999; }
/* line 342, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models #change-type #change-type-container a.type-selected { color: #00adef; }
/* line 349, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel { display: none; border-bottom: 1px solid #666666; margin-bottom: 30px; }
/* line 353, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-dropdown { display: none; padding: 0 15px; }
/* line 362, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .options-block { display: none; padding-top: 15px; /*padding-bottom:50px;
margin-bottom:30px;*/ }
/* line 367, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .options-block.this-selected { display: block; }
/* line 370, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .options-block#available-amg-models { background: url(../images/AMG_logo.jpg) 97.5% 97.5% no-repeat; }
/* line 373, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .options-block#available-amg-models figure { background: url(../images/AMG_car-background.png) 96% 25% no-repeat; }
/* line 379, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row { display: block; width: 100%; margin-bottom: 15px; padding-left: 5px; }
/* line 385, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car { float: left; /*width:18.4%;*/ width: 18.0%; /*height: 176px;*/ margin: 0 1%; color: #999999; font-size: 14px; font-family: corposregular; }
/* line 396, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car:last-child { margin-right: 0; }
/* line 399, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car:hover { -moz-box-shadow: 0 0 0 1px #00adef; -webkit-box-shadow: 0 0 0 1px #00adef; box-shadow: 0 0 0 1px #00adef; }
/* line 402, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car figure { width: 100%; padding: 3%; }
/* line 406, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car img { /*@extend %scalable-img;*/ width: 97%; height: auto; border-bottom: 1px solid #787878; }
/* line 412, ../sass/main.scss */
#form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car figcaption { padding-top: 10px; }
/* line 421, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields { margin-top: 25px; font-size: 14px; font-family: corposregular; }
/* line 427, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field { height: 30px; margin-bottom: 25px; /*special cases*/ }
/* line 431, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field#hidden-retailer-field { display: none; }
/* line 436, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field label { padding-top: 4px; text-align: right; }
/* line 439, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field label sup { color: #00adef; }
/* line 444, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field input[type=text], #form-page-container #form-page-content #main-content #form-fields .form-field select { background: #fff; border: 1px solid #cccccc; height: 30px; padding: 5px 10px; }
/* line 451, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field input[type=text] { -moz-box-shadow: inset 0 1px 2px 1px #d9d9d9; -webkit-box-shadow: inset 0 1px 2px 1px #d9d9d9; box-shadow: inset 0 1px 2px 1px #d9d9d9; }
/* line 453, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field input[type=text]:focus { border: 1px solid #156e90; -moz-box-shadow: 0 0 2px 1px #006186; -webkit-box-shadow: 0 0 2px 1px #006186; box-shadow: 0 0 2px 1px #006186; }
/* line 459, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field .submit-btn { cursor: pointer; background: #666666; display: inline-block; height: 30px; padding: 8px 10px; color: #fff; border: none; }
/* line 468, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field .submit-btn:active { background: #333333; }
/* line 475, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field .paired-controls > * { float: left; width: 45%; }
/* line 479, ../sass/main.scss */
#form-page-container #form-page-content #main-content #form-fields .form-field .paired-controls > *:first-child { margin-right: 10%; }
/* line 489, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #open-manual-address { margin-bottom: 5px; }
/* line 491, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #open-manual-address a { color: #999999; text-decoration: underline; }
/* line 497, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #manual-address-panel { /*block to imput manually address*/ }
/* line 503, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block { margin-bottom: 10px; }
/* line 507, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection { margin-bottom: 0; }
/* line 512, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .retailer-option { width: 100%; margin-bottom: 25px; display: table; height: 20px; }
/* line 519, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .retailer-option span, #form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .retailer-option label { /*display:table-cell;*/ vertical-align: middle; }
/* line 524, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .retailer-option label { padding-left: 5%; }
/* line 528, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .retailer-option select { width: 100%; }
/* line 533, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .business-line1-label { font-size: 13px; border-bottom: 1px solid #666; padding: 10px 0; }
/* line 538, ../sass/main.scss */
#form-page-container #form-page-content #main-content .manual-address-block #address-lookup-results-panel .text-block#retailer-center-selection .choose-retailer-label { padding: 10px 0; }
/* line 550, ../sass/main.scss */
#form-page-container #form-page-content #main-content #legal-notice { margin-bottom: 25px; font-size: 13px; font-family: corposregular; }
/* line 556, ../sass/main.scss */
#form-page-container #form-page-content #main-content #legal-notice .text-block { border-top: 1px solid #666; padding: 10px 0; }
/* line 560, ../sass/main.scss */
#form-page-container #form-page-content #main-content #legal-notice .text-block:first-child { border: none; }
/* line 565, ../sass/main.scss */
#form-page-container #form-page-content #main-content #legal-notice .text-block#preferred-contact-method p { margin-bottom: 10px; }
/* line 568, ../sass/main.scss */
#form-page-container #form-page-content #main-content #legal-notice .text-block#preferred-contact-method span.preferred-contact-method-option { display: inline-block; margin-right: 10px; }
/* line 577, ../sass/main.scss */
#form-page-container #form-page-content #main-content #submit-form { margin-bottom: 25px; }
/* line 580, ../sass/main.scss */
#form-page-container #form-page-content #main-content #submit-form #submit-form-btn { background: #078fc8; border: none; border-top: 1px solid #2aabe2; color: #fff; display: inline-block; font-size: 18px; padding: 10px 0; text-align: center; width: 50%; cursor: pointer; font-family: corposregular; }
/* line 594, ../sass/main.scss */
#form-page-container #form-page-content #main-content #submit-form #submit-form-btn:active { border-top: 1px solid #5cc0e8; background: #0ca5e1; }

/*mask for select form fields*/
/* line 608, ../sass/main.scss */
.mfs-container { position: relative; font-size: 14px; }

/* line 612, ../sass/main.scss */
.mfs-container select { display: none; }

/* line 615, ../sass/main.scss */
.mfs-options { position: absolute; width: 100%; max-height: 300px; overflow: auto; padding: 0; margin: 0; list-style-type: none; background: #ffffff; border-top: 1px solid #cccccc; z-index: 10000 !important; }

/* line 627, ../sass/main.scss */
.mfs-options li { border: 1px solid #cccccc; border-top: none; }
/* line 631, ../sass/main.scss */
.mfs-options li.active { background-color: #666; border-bottom: 1px solid #666; }
/* line 634, ../sass/main.scss */
.mfs-options li.active a { color: #fff; }
/* line 638, ../sass/main.scss */
.mfs-options li.selected { background-color: #333; border: 1px solid #333; }
/* line 641, ../sass/main.scss */
.mfs-options li.selected a { color: #fff; }
/* line 646, ../sass/main.scss */
.mfs-options li a { display: block; padding: 5px 5px; text-decoration: none; color: #666666; font-family: corposregular; }

/* line 657, ../sass/main.scss */
a.mfs-selected-option { display: block; padding: 4px 8px; text-decoration: none; background: #ffffff; border: 1px solid #cccccc; color: #666666; height: 30px; overflow: hidden; -moz-box-shadow: inset 0 1px 2px 1px #d9d9d9; -webkit-box-shadow: inset 0 1px 2px 1px #d9d9d9; box-shadow: inset 0 1px 2px 1px #d9d9d9; font-family: corposregular; }

/* line 671, ../sass/main.scss */
a.mfs-selected-option span { display: block; position: absolute; top: 0; right: 0; width: 40px; height: 30px; background: url(../images/custom-selsect-img.png) 0 -5px no-repeat; }

/*thank you page*/
/* line 684, ../sass/main.scss */
#thank-you-block { position: relative; }
/* line 688, ../sass/main.scss */
#thank-you-block h3 { margin-bottom: 25px; font-size: 32px; font-family: CorpoACond; }
/* line 695, ../sass/main.scss */
#thank-you-block .thank-you-message { border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; font-family: corposregular; }
/* line 700, ../sass/main.scss */
#thank-you-block .thank-you-message p { margin: 25px 0; }
/* line 705, ../sass/main.scss */
#thank-you-block #links-area { border-top: 0px solid #CCCCCC; padding: 25px 0; width: 100%; }
/* line 709, ../sass/main.scss */
#thank-you-block #links-area .cta-link { width: 18%; margin-right: 2%; float: left; font-family: corposregular; }
/* line 716, ../sass/main.scss */
#thank-you-block #links-area .cta-link a { display: block; width: 100%; font-size: 14px; color: #999999; line-height: 1.2; }
/* line 726, ../sass/main.scss */
#thank-you-block #links-area .cta-link a span { position: relative; display: block; text-align: center; }
/* line 739, ../sass/main.scss */
#thank-you-block #social-sharing {/* width: 84px;*/ position: absolute; top: 0; right: 0; /*margin:25px 0;*/ }
/* line 745, ../sass/main.scss */
#thank-you-block #social-sharing #social-sharing-actions { /*width: 84px; float:right;*/ font-family: corposregular; }
/* line 750, ../sass/main.scss */
#thank-you-block #social-sharing #social-sharing-actions h4 { font-size: 14px; }
/* line 754, ../sass/main.scss */
#thank-you-block #social-sharing #social-sharing-actions a { display: inline-block; width: 40px; height: 40px; background-image: url(../images/social-sharing-icons.png); background-repeat: no-repeat; float: left; margin-right: 4px;}
/* line 762, ../sass/main.scss */
#thank-you-block #social-sharing #social-sharing-actions a:hover { background-image: url(../images/social-sharing-icons-hover.png); }
/* line 765, ../sass/main.scss */
#thank-you-block #social-sharing #social-sharing-actions a#FB-share { background-position: 0 0; margin-right: 4px; }
/* line 769, ../sass/main.scss */
#thank-you-block #social-sharing #social-sharing-actions a#TW-share { background-position: -49px 0; }

/*Tyres competition form layout*/
/* line 779, ../sass/main.scss */
.winter-tyres-form#form-page-container { background: #000; }
/* line 783, ../sass/main.scss */
.winter-tyres-form#form-page-container #page-main-title { font-size: 40px; text-align: center; }
/* line 786, ../sass/main.scss */
.winter-tyres-form#form-page-container #page-main-title p { border-bottom: 1px solid #343434; }
/* line 793, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-header figure { background: #000; }
/* line 799, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content { background: #000; border: none; }
/* line 807, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answer-error div { padding: 5px 0; }
/* line 812, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content #select-models #the-question { text-align: center; color: #999; font-family: corposregular; }
/* line 819, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answers { border-top: none !important; border-bottom: 1px solid #343434; color: #999; }
/* line 823, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answers .request-option { text-align: center; }
/* line 831, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content #submit-form #t-and-c-link { font-size: 12px; color: #999; text-decoration: underline; font-family: corposregular; }
/* line 839, ../sass/main.scss */
.winter-tyres-form#form-page-container #form-page-content #main-content #submit-form #submit-form-btn { width: 100%; }
/* line 849, ../sass/main.scss */
.winter-tyres-form#form-page-container #thank-you-block .thank-you-message a { color: #999999; text-decoration: underline; }

/* ========================================================================== Mid size screens ========================================================================== */
@media screen and (max-width: 800px) and (min-width: 768px) { /*possible leayout adjustments for medium size screens */ }
/* ========================================================================== mobile layout - under 768px wide ========================================================================== */
@media screen and (max-width: 768px) { /*reset container dimensions*/
  /* line 875, ../sass/main.scss */
  .container_12 { margin: 0 auto; max-width: 768px; width: 100%; }
  /*reset grids dimensions*/
  /* line 882, ../sass/main.scss */
  .container_12 .grid_1, .container_12 .grid_2, .container_12 .grid_3, .container_12 .grid_4, .container_12 .grid_5, .container_12 .grid_6, .container_12 .grid_7, .container_12 .grid_8, .container_12 .grid_9, .container_12 .grid_10, .container_12 .grid_11, .container_12 .grid_12 { width: 100%; float: none; margin-left: 0; margin-right: 0; display: block; }
  /*clear push/pull*/
  /* line 902, ../sass/main.scss */
  .container_12 *[class*="push_"], .container_12 *[class*="pull_"] { left: 0; }
  /*error messages*/
  /* line 908, ../sass/main.scss */
  .errorMessage { color: #ab1919; display: block; float: left; font-size: 14px; width: 100%; margin-left: 0; }
  /* line 915, ../sass/main.scss */
  .errorMessage.custom-error, .errorMessage#Form_postcode_em_ { margin-left: 0 !important; width: 100% !important; }
  /*header*/
  /* line 923, ../sass/main.scss */
  #form-page-header figure { display: none; }
  /*sub header*/
  /* line 929, ../sass/main.scss */
  #page-main-title { padding: 10px 4%; }
  /*models selected*/
  /* line 937, ../sass/main.scss */
  #form-page-container #form-page-content #main-content { padding-top: 0; border: none; }
  /* line 943, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected { position: relative; }
  /* line 947, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected > * { display: block; }
  /* line 951, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected .request-model { width: 100%; padding: 25px 4%; }
  /* line 956, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected .request-option { border-top: 1px solid #3a3a3a; padding: 25px 4%; }
  /* line 960, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected .request-option.request-brochure-option { background: url("../images/brochure-icon.png") no-repeat scroll 4% center transparent; }
  /* line 964, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected .request-option.request-test-option { background: url("../images/test-drive-icon.png") no-repeat scroll 4% center transparent; }
  /* line 968, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected .request-option label { margin-left: 50px; }
  /* line 973, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .model-selected .remove-model { display: inline-block; position: absolute; margin: 0; top: 40px; right: 4%; width: 16px; height: 16px; }
  /* line 984, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .add-model-action { padding: 20px 4%; }
  /* line 986, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .add-model-action > * { display: block; width: 100%; text-align: left; }
  /* line 997, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #form-fields { font-size: 16px; }
  /* line 999, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #form-fields .form-field { padding: 0 4%; margin-bottom: 10px; height: 70px; }
  /* line 1003, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #form-fields .form-field label { text-align: left; }
  /* line 1009, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #form-fields .manual-address-block .form-field { padding: 0 4%; margin-bottom: 10px; }
  /* line 1015, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #form-fields #open-manual-address { padding: 0 4%; margin-bottom: 10px; }
  /* line 1020, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #form-fields .text-block { padding: 10px 4%; margin-bottom: 10px !important; }
  /* line 1028, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #legal-notice { border-top: 1px solid #666666; }
  /* line 1032, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #submit-form { padding: 0 4%; }
  /*Thank you and Error page*/
  /* line 1042, ../sass/main.scss */
  #thank-you-block h3, #thank-you-block .thank-you-message, #thank-you-block #links-area, #thank-you-block #social-sharing { padding: 15px 4%; }
  /* line 1046, ../sass/main.scss */
  #thank-you-block #social-sharing { width: 130px; }
  /*competition form mobile*/
  /* line 1056, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-header #header-bar { padding: 0 4%; }
  /* line 1059, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-header figure { display: block; }
  /* line 1068, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #the-question { padding: 15px 4%; text-align: left; }
  /* line 1072, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answers { padding: 15px 4%; border: none; }
  /* line 1075, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answers .request-option { text-align: left; border: none; padding: 15px 0; }
  /* line 1079, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answers .request-option:last-child { border-bottom: 1px solid #343434; padding-bottom: 25px; }
  /* line 1084, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answers .request-option label { margin-left: 10px; }
  /* line 1091, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #select-models #answer-error .add-model-error { padding: 0 4%; }
  /* line 1099, ../sass/main.scss */
  .winter-tyres-form#form-page-container #form-page-content #main-content #submit-form #t-and-c-link { margin-bottom: 25px; display: block; font-size: 15px; } }
@media screen and (max-width: 700px) { /* line 1118, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row .one-car { width: 23%; height: 150px; } }
@media screen and (max-width: 480px) { /* line 1126, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-dropdown { display: block; }
  /* line 1130, ../sass/main.scss */
  #form-page-container #form-page-content #main-content #select-models .choose-model-panel .choose-model-row { display: none; } }
/* ========================================================================== Helper classes ========================================================================== */
/* Image replacement */
/* line 1145, ../sass/main.scss */
.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px; }

/* line 1153, ../sass/main.scss */
.ir:before { content: ""; display: block; width: 0; height: 150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 1164, ../sass/main.scss */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 1173, ../sass/main.scss */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 1189, ../sass/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
/* line 1203, ../sass/main.scss */
.invisible { visibility: hidden; }

/* Clearfix: contain floats  For modern browsers 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
/* line 1219, ../sass/main.scss */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }

/* line 1225, ../sass/main.scss */
.clearfix:after { clear: both; }

/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
/* line 1234, ../sass/main.scss */
.clearfix { *zoom: 1; }

.unimog-text {    color: #666;
    font: 15px corposregular;
    padding: 5px 0 0;}

#thank-you-block #links-area {
    border-top: 1px solid #cccccc;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}
#thank-you-block #links-area .cta-link {min-width: 110px;  margin: 0 auto; float:none; display:inline-block;}
@media screen and (max-width: 450px){
#thank-you-block #links-area .cta-link {
    clear: both;
    display: block;
    margin: 0 auto 20px;
    min-width:110px;
    float: none;
}
#thank-you-block #links-area .cta-link a {
    color: #999999;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    width: 100%;
}
}